streamlit
opencv-python-headless
pillow
openpyxl
pandas
zxing-cpp
pyzbar
easyocr
torch --index-url https://download.pytorch.org/whl/cpu
torchvision --index-url https://download.pytorch.org/whl/cpu
